In [1]:
import pandas as pd
import json 
from sqlalchemy import create_engine

In [2]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
username = "root"
password = "Navnoorroot" # (or whatever password you chose during mysql installation)
db_name = "sakila"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [3]:
engine = create_engine(connection)

In [4]:
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [5]:
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
akas = pd.read_csv("Data/title_akas.csv.gz", low_memory = False)
ratings = pd.read_csv("Data/title_ratings.csv.gz", low_memory = False)

In [6]:
basics.head(2)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama

In [7]:
akas.head(2)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0

In [8]:
ratings.head(2)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1947
1  tt0000002            5.8       264

### Normalizing Genres column

In [9]:
# split the genre column into a list by separating using the ','
basics['genres_split'] = basics['genres'].str.split(',')

basics.head(2)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama,[Drama]

In [10]:
# using .explode to get all the unique genres in a new variable
basics = basics.explode('genres_split')
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,Drama

In [11]:
#getting the unique values
unique_genres = sorted(basics['genres_split'].unique())
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

In [12]:
# creating a new title_genre table from exploded_genre's table
title_genre = basics[['tconst','genres_split']].copy()

title_genre.head(6)

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama
3  tt0088751       Comedy

In [13]:
#making the genre mapper Dictionary
genre_ints = range(len(unique_genres))

#creating a dictionary that zips unique_genres and genre_ints
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [14]:
## make new integer genre_id and drop string genres
basics['genre_id'] = basics['genres_split'].map(genre_map)
basics = basics.drop(columns=['genres_split', 'originalTitle','isAdult','titleType', 'genres'])
basics

,tconst,primaryTitle,startYear,endYear,runtimeMinutes,genre_id
0,tt0035423,Kate & Leopold,2001,NaN,118,5
0,tt0035423,Kate & Leopold,2001,NaN,118,9
0,tt0035423,Kate & Leopold,2001,NaN,118,18
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020,NaN,70,7
2,tt0069049,The Other Side of the Wind,2018,NaN,122,7
...,...,...,...,...,...,...
84776,tt9916190,Safeguard,2020,NaN,95,0
84776,tt9916190,Safeguard,2020,NaN,95,2
84776,tt9916190,Safeguard,2020,NaN,95,23
84777,tt9916362,Coven,2020,NaN,92,7
84777,tt9916362,Coven,2020,NaN,92,11

In [15]:
#converting genre map dict into dataframe
genre_lookup = pd.DataFrame({'Genre_Name': genre_map.keys(),
                                'Genre ID': genre_map.values()})

genre_lookup

    Genre_Name  Genre ID
0       Action         0
1        Adult         1
2    Adventure         2
3    Animation         3
4    Biography         4
5       Comedy         5
6        Crime         6
7        Drama         7
8       Family         8
9      Fantasy         9
10   Game-Show        10
11     History        11
12      Horror        12
13       Music        13
14     Musical        14
15     Mystery        15
16        News        16
17  Reality-TV        17
18     Romance        18
19      Sci-Fi        19
20       Short        20
21       Sport        21
22   Talk-Show        22
23    Thriller        23
24         War        24
25     Western        25

### Saving MySQL tables with tconst as the primary key

In [16]:
basics.dtypes

tconst             object
primaryTitle       object
startYear           int64
endYear           float64
runtimeMinutes      int64
genre_id            int64
dtype: object

In [17]:
basics.duplicated().s
um()

0

In [18]:
# getting the max lenght of column tconst
max_length_tconst = basics['tconst'].fillna('').map(len).max()
max_length_tconst

10

In [19]:
from sqlalchemy.types import *

#calculate max len for object columns
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()

#using a schema dictionary using sql alchemy datatype objects
basics_schema = {
    "tconst": String(key_len + 1),
    "primaryTitle": Text(title_len + 1),
    "startYear": Float(),
    "endYear": Float(),
    "runtimeMinutes": Integer()
}

In [20]:
#save to sql with dtype and index = False
#title_basics is the name of the table
basics.to_sql('title_basics', engine, dtype = basics_schema, if_exists = 'replace', index = False)

158417

In [21]:
#adding the primary key i.e. tconst
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'tt0156323' for key 'title_basics.PRIMARY'")
[SQL: ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [22]:
q = """
SELECT *
FROM title_basics ;
"""

pd.read_sql(q,engine)

,tconst,primaryTitle,startYear,endYear,runtimeMinutes,genre_id
0,tt0035423,Kate & Leopold,2001.0,None,118,5
1,tt0035423,Kate & Leopold,2001.0,None,118,9
2,tt0035423,Kate & Leopold,2001.0,None,118,18
3,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,None,70,7
4,tt0069049,The Other Side of the Wind,2018.0,None,122,7
...,...,...,...,...,...,...
158412,tt9916190,Safeguard,2020.0,None,95,0
158413,tt9916190,Safeguard,2020.0,None,95,2
158414,tt9916190,Safeguard,2020.0,None,95,23
158415,tt9916362,Coven,2020.0,None,92,7
158416,tt9916362,Coven,2020.0,None,92,11

### Make sure to have the following tables in your "movies" database:

#### title_basics
#### title_ratings
#### title_genres
#### genres
#### tmdb_data