## Download the entire dataset from 2000-2022 using glob.

In [2]:
import json
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats

import matplotlib.pyplot as plt

In [3]:
pd.set_option('display.max_columns',100)

In [4]:
import os
FOLDER = 'Data/'
file_list = sorted(os.listdir(FOLDER))

file_list

['.ipynb_checkpoints',
 '_1st_try_final_tmdb_data_2000.csv.gz',
 '_1st_try_final_tmdb_data_2001.csv.gz',
 '_1st_try_final_tmdb_data_2002.csv.gz',
 '_1st_try_final_tmdb_data_2003.csv.gz',
 '_1st_try_final_tmdb_data_2004.csv.gz',
 '_1st_try_final_tmdb_data_2005.csv.gz',
 '_1st_try_final_tmdb_data_2006.csv.gz',
 '_1st_try_final_tmdb_data_2007.csv.gz',
 '_1st_try_final_tmdb_data_2008.csv.gz',
 '_1st_try_final_tmdb_data_2009.csv.gz',
 '_1st_try_final_tmdb_data_2011.csv.gz',
 '_1st_try_final_tmdb_data_2012.csv.gz',
 '_1st_try_final_tmdb_data_2013.csv.gz',
 '_1st_try_final_tmdb_data_2014.csv.gz',
 '_1st_try_final_tmdb_data_2015.csv.gz',
 '_1st_try_final_tmdb_data_2017.csv.gz',
 '_1st_try_final_tmdb_data_2018.csv.gz',
 '_1st_try_final_tmdb_data_2019.csv.gz',
 '_1st_try_final_tmdb_data_2020.csv.gz',
 '_1st_try_final_tmdb_data_2022.csv.gz',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'final_tmdb_data_2002.csv.gz',
 'final_tmdb_data_2010.csv.gz',
 'title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json',
 'tmdb_api_results_2002.json',
 'tmdb_api_results_2003.json',
 'tmdb_api_results_2004.json',
 'tmdb_api_results_2005.json',
 'tmdb_api_results_2006.json',
 'tmdb_api_results_2007.json',
 'tmdb_api_results_2008.json',
 'tmdb_api_results_2009.json',
 'tmdb_api_results_2010.json',
 'tmdb_api_results_2011.json',
 'tmdb_api_results_2012.json',
 'tmdb_api_results_2013.json',
 'tmdb_api_results_2014.json',
 'tmdb_api_results_2015.json',
 'tmdb_api_results_2016.json',
 'tmdb_api_results_2017.json',
 'tmdb_api_results_2018.json',
 'tmdb_api_results_2019.json',
 'tmdb_api_results_2020.json',
 'tmdb_api_results_2021.json',
 'tmdb_api_results_2022.json']

In [5]:
pd.read_csv(FOLDER + file_list[5])

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0122247,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...",NaN,27743.0,en,Serial Killing 4 Dummys,"Casey Noland, a high school kid with no direct...",1.427,/um9riTrJCQblb38r6uAgzNsjYy6.jpg,[],[],2004-01-01,0.0,89.0,[],Released,NaN,Serial Killing 101,0.0,5.600,11.0,NaN
2,tt0146803,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,46730.0,en,"Goodnight, Joseph Parker",Unapologetically brash in dialogue and texture...,1.091,/qtyEI1LtqKVUdX0BDQj10SBFjWB.jpg,[],[],2004-10-01,0.0,0.0,[],Released,When there's no place left to go but home,"Goodnight, Joseph Parker",0.0,0.000,0.0,NaN
3,tt0159290,0.0,/atFOPVD3AKSj16ImD1MJfIklf90.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,101917.0,nl,Bluebird,Merel is a young girl with a lot of talent. Sh...,0.652,/w53RY8kSG2cmsEhOV1bO0vFLEBt.jpg,"[{'id': 4588, 'logo_path': None, 'name': 'Egmo...","[{'iso_3166_1': 'NL', 'name': 'Netherlands'}]",2004-04-10,0.0,77.0,"[{'english_name': 'Dutch', 'iso_639_1': 'nl', ...",Released,"Merel, a talented young girl, is suddenly gett...",Bluebird,0.0,6.300,9.0,NaN
4,tt0167190,0.0,/qdTUAwQKQ9n7PfZeVJzs7sOP8S8.jpg,"{'id': 17235, 'name': 'Hellboy Collection', 'p...",66000000.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,1487.0,en,Hellboy,"In the final days of World War II, the Nazis a...",33.954,/21hS8mD8uxBVvf8xVYR30LbbmPO.jpg,"[{'id': 5, 'logo_path': '/lieeAioEBVsgsoDT9HIC...","[{'iso_3166_1': 'CZ', 'name': 'Czech Republic'...",2004-04-02,99318987.0,122.0,"[{'english_name': 'Russian', 'iso_639_1': 'ru'...",Released,From the dark side to our side.,Hellboy,0.0,6.657,6123.0,PG-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1441,tt7521848,0.0,/zuLttZUxFbpCzpSDgVS3icBN7zR.jpg,NaN,50000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",http://www.tellyvizion.com/video/325,481717.0,en,Solomon's Requiem,An unemployed man and his dog contend with a d...,1.400,/keNJTcL1Hs49HzYp50sLYA9Z7mN.jpg,"[{'id': 96162, 'logo_path': None, 'name': 'Dam...","[{'iso_3166_1': 'US', 'name': 'United States o...",2017-10-16,0.0,95.0,[],Released,NaN,Solomon's Requiem,0.0,0.000,0.0,R
1442,tt7554314,0.0,NaN,NaN,0.0,"[{'id': 28, 'name': 'Action'}]",NaN,519802.0,ar,Montasaf El Leil,Here we have a real carsploitation epic from K...,0.600,/gthcu78FZ2KhATIHAvGxbiG6yzC.jpg,[],[],2000-01-01,0.0,111.0,"[{'english_name': 'Arabic', 'iso_639_1': 'ar',...",Released,NaN,Midnight,0.0,0.000,0.0,NaN
1443,tt8951904,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,546711.0,cn,噩夢,"Yoyo Mung stars as a Chi, a reporter who's bee...",0.600,/3dI8hzFCzwFkb8F0GMIaaIYjRFm.jpg,[],"[{'iso_3166_1': 'HK', 'name': 'Hong Kong'}]",2004-09-28,0.0,89.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,NaN,Unplugging Nightmare,0.0,0.000,0.0,NaN
1444,tt9075726,0.0,/uzGX8JxbAAIZ4M0uJCTz0WDvqub.jpg,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",NaN,598888.0,zh,血胎换骨,Two friends escape from Thailand and move to H...,1.153,/gNKVudGlZ0N6WOjeB5Frv7xyp6o.jpg,[],"[{'iso_3166_1': 'HK', 'name': 'Hong Kong'}]",2004-12-31,0.0,94.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,NaN,Blood Of The Shaman,0.0,0.000,0.0,NaN
1445,tt9468730,0.0,NaN,NaN,50000.0,"[{'id': 53, 'name': 'Thriller'}]",https://www.timespl.com/en/coming-soon/item/157,673396.0,cn,傷生兒,Fate has split the lives of two beautiful twin...,0.910,/rAxjelKFUAbkB7HSMAg6LvpZmNY.jpg,"[{'id': 44133, 'logo_path': None, 'name': 'Tim...","[{'iso_3166_1': 'HK', 'name': 'Hong Kong'}]",2003-06-12,50000.0,83.0,"[{'english_name': 'Mandarin', 'iso_639_1': 'zh...",Released,NaN,A Jealous Sister,0.0,9.000,2.0,NaN

In [6]:
import glob

q = 'Data/_1st_*.csv.gz'

file_list = sorted(glob.glob(q))

file_list

['Data/_1st_try_final_tmdb_data_2000.csv.gz',
 'Data/_1st_try_final_tmdb_data_2001.csv.gz',
 'Data/_1st_try_final_tmdb_data_2002.csv.gz',
 'Data/_1st_try_final_tmdb_data_2003.csv.gz',
 'Data/_1st_try_final_tmdb_data_2004.csv.gz',
 'Data/_1st_try_final_tmdb_data_2005.csv.gz',
 'Data/_1st_try_final_tmdb_data_2006.csv.gz',
 'Data/_1st_try_final_tmdb_data_2007.csv.gz',
 'Data/_1st_try_final_tmdb_data_2008.csv.gz',
 'Data/_1st_try_final_tmdb_data_2009.csv.gz',
 'Data/_1st_try_final_tmdb_data_2011.csv.gz',
 'Data/_1st_try_final_tmdb_data_2012.csv.gz',
 'Data/_1st_try_final_tmdb_data_2013.csv.gz',
 'Data/_1st_try_final_tmdb_data_2014.csv.gz',
 'Data/_1st_try_final_tmdb_data_2015.csv.gz',
 'Data/_1st_try_final_tmdb_data_2017.csv.gz',
 'Data/_1st_try_final_tmdb_data_2018.csv.gz',
 'Data/_1st_try_final_tmdb_data_2019.csv.gz',
 'Data/_1st_try_final_tmdb_data_2020.csv.gz',
 'Data/_1st_try_final_tmdb_data_2022.csv.gz']

In [7]:
#concatinating all the datasets
df = pd.concat([pd.read_csv(f, lineterminator = '\n') for f in file_list])

df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,Two rural teens sing and dance their way throu...,2.611,/hfO64mXz3DgUxkBVU7no2UWRP7x.jpg,"[{'id': 60, 'logo_path': '/1SEj4nyG3JPBSKBbFht...","[{'iso_3166_1': 'US', 'name': 'United States o...",2000-09-22,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.50,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,Earth is in a state of constant war and two co...,2.803,/h9bWO13nWRGZJo4XVPiElXyrRMU.jpg,"[{'id': 925, 'logo_path': '/dIb9hjXNOkgxu4kBWd...","[{'iso_3166_1': 'US', 'name': 'United States o...",2000-11-15,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.10,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,"After falling prey to underworld, four friends...",0.600,/yB5wRu4uyXXwZA3PEj8cITu0xt3.jpg,[],"[{'iso_3166_1': 'IN', 'name': 'India'}]",2000-04-14,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.00,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,"Hong Kong, 1962: Chow Mo-Wan and Su Li-Zhen mo...",30.078,/iYypPT4bhqXfq1b6EnmxvRt6b2Y.jpg,"[{'id': 255, 'logo_path': None, 'name': 'Parad...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",2000-09-29,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.11,2104.0,PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3093,tt9883664,0.0,NaN,NaN,0.0,[],NaN,1031225.0,en,Equally Friends,A teenager from another town comes to Swooder ...,0.600,/mPWmJHoSLs0DEjLLJrX6j0KBEUZ.jpg,[],[],2022-01-10,0.0,47.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Equally Friends,0.0,0.00,0.0,NaN
3094,tt9893130,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",NaN,972731.0,en,"2025: Blood, White & Blue",Undercover U.S. agent Bill Wilson makes the bu...,3.631,/1S9pjiZejBiSVV88qU59ifZ7q0N.jpg,"[{'id': 16600, 'logo_path': None, 'name': 'Aud...","[{'iso_3166_1': 'US', 'name': 'United States o...",2022-07-01,0.0,135.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,THE PURGE meets US,"2025: Blood, White & Blue",0.0,4.00,1.0,NaN
3095,tt9893158,0.0,NaN,NaN,0.0,"[{'id': 80, 'name': 'Crime'}, {'id': 10749, 'n...",NaN,796955.0,en,Clowning,"With his girlfriend pregnant, Dante, a pacifis...",2.212,/xppIANX9DQoRYg3FlNCifDYuFwP.jpg,"[{'id': 109533, 'logo_path': '/xtQJYJg54jp5QVS...","[{'iso_3166_1': 'US', 'name': 'United States o...",2022-03-13,0.0,96.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Warm nights... Feels like death in the sand du...,Clowning,0.0,8.00,1.0,NaN
3096,tt9893160,0.0,/jX5XGqJUTzvpta2RjcX6pMZqxk5.jpg,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",NaN,606303.0,en,No Way Out,"Nick, a talented photographer who is new to Lo...",5.633,/df9pAqtYzM40llo9Joxy2ftqSrP.jpg,"[{'id': 13238, 'logo_path': '/kDNZz8imH866Mezx...","[{'iso_3166_1': 'US', 'name': 'United States o...",2022-08-12,0.0,89.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Find what you love and let it kill you.,No Way Out,0.0,4.90,9.0,NaN
3097,tt9904648,0.0,/ibWj2ARVrAabIWDq5vSXoJRZfVV.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",https://contrastmovie.com/,933557.0,en,The Contrast,On the day before her wedding to a hipster pla...,0.984,/sioXCmW4Q2VXLYm9hIY8GcnU3m7.jpg,[],[],2022-01-18,0.0,82.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everybody loves... somebody else.,The Contrast,0.0,3.00,1.0,NaN

In [9]:
df= df.loc[df['imdb_id'] != '0']

df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,Two rural teens sing and dance their way throu...,2.611,/hfO64mXz3DgUxkBVU7no2UWRP7x.jpg,"[{'id': 60, 'logo_path': '/1SEj4nyG3JPBSKBbFht...","[{'iso_3166_1': 'US', 'name': 'United States o...",2000-09-22,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.50,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,Earth is in a state of constant war and two co...,2.803,/h9bWO13nWRGZJo4XVPiElXyrRMU.jpg,"[{'id': 925, 'logo_path': '/dIb9hjXNOkgxu4kBWd...","[{'iso_3166_1': 'US', 'name': 'United States o...",2000-11-15,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.10,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,"After falling prey to underworld, four friends...",0.600,/yB5wRu4uyXXwZA3PEj8cITu0xt3.jpg,[],"[{'iso_3166_1': 'IN', 'name': 'India'}]",2000-04-14,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.00,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,"Hong Kong, 1962: Chow Mo-Wan and Su Li-Zhen mo...",30.078,/iYypPT4bhqXfq1b6EnmxvRt6b2Y.jpg,"[{'id': 255, 'logo_path': None, 'name': 'Parad...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",2000-09-29,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.11,2104.0,PG
5,tt0118852,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,49511.0,en,Chinese Coffee,"When Harry Levine, an aging, unsuccessful Gree...",3.833,/nZGWnSuf1FIuzyEuMRZHHZWViAp.jpg,"[{'id': 1596, 'logo_path': None, 'name': 'Shoo...","[{'iso_3166_1': 'US', 'name': 'United States o...",2000-09-02,0.0,99.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,There's a fine line between friendship and bet...,Chinese Coffee,0.0,6.80,48.0,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3093,tt9883664,0.0,NaN,NaN,0.0,[],NaN,1031225.0,en,Equally Friends,A teenager from another town comes to Swooder ...,0.600,/mPWmJHoSLs0DEjLLJrX6j0KBEUZ.jpg,[],[],2022-01-10,0.0,47.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Equally Friends,0.0,0.00,0.0,NaN
3094,tt9893130,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",NaN,972731.0,en,"2025: Blood, White & Blue",Undercover U.S. agent Bill Wilson makes the bu...,3.631,/1S9pjiZejBiSVV88qU59ifZ7q0N.jpg,"[{'id': 16600, 'logo_path': None, 'name': 'Aud...","[{'iso_3166_1': 'US', 'name': 'United States o...",2022-07-01,0.0,135.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,THE PURGE meets US,"2025: Blood, White & Blue",0.0,4.00,1.0,NaN
3095,tt9893158,0.0,NaN,NaN,0.0,"[{'id': 80, 'name': 'Crime'}, {'id': 10749, 'n...",NaN,796955.0,en,Clowning,"With his girlfriend pregnant, Dante, a pacifis...",2.212,/xppIANX9DQoRYg3FlNCifDYuFwP.jpg,"[{'id': 109533, 'logo_path': '/xtQJYJg54jp5QVS...","[{'iso_3166_1': 'US', 'name': 'United States o...",2022-03-13,0.0,96.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Warm nights... Feels like death in the sand du...,Clowning,0.0,8.00,1.0,NaN
3096,tt9893160,0.0,/jX5XGqJUTzvpta2RjcX6pMZqxk5.jpg,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",NaN,606303.0,en,No Way Out,"Nick, a talented photographer who is new to Lo...",5.633,/df9pAqtYzM40llo9Joxy2ftqSrP.jpg,"[{'id': 13238, 'logo_path': '/kDNZz8imH866Mezx...","[{'iso_3166_1': 'US', 'name': 'United States o...",2022-08-12,0.0,89.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Find what you love and let it kill you.,No Way Out,0.0,4.90,9.0,NaN
3097,tt9904648,0.0,/ibWj2ARVrAabIWDq5vSXoJRZfVV.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",https://contrastmovie.com/,933557.0,en,The Contrast,On the day before her wedding to a hipster pla...,0.984,/sioXCmW4Q2VXLYm9hIY8GcnU3m7.jpg,[],[],2022-01-18,0.0,82.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everybody loves... somebody else.,The Contrast,0.0,3.00,1.0,NaN

In [10]:
#duplicates
df.duplicated().sum()

0